body {
    font-family: 'Times New Roman', Times, serif;
}

.page-title {
    line-height: 90px;
    margin-left: 30px;
    font-family: 'fantasy';
}

.add-btn {
    float: right;
}

.steps {
    border: 1px solid darkgrey;
    padding: 35px;
    box-shadow: 5px 3px 10px 1px darkgrey;
}

h3, h4 {
    font-family: system-ui;
    text-transform: uppercase;
}
.repeater-action-btn {
    margin-top: 33px;
}

@media (max-width: 518px) {
    .add-btn {
      float: left;
      margin-left: 30px;
    }
  }